<div class="container">
      <h2>Iniciar Sesión</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill">

          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email">
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email es requerido</mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Email inválido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Contraseña es requerida</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
        <p>¿No tienes cuenta? <a routerLink="/registro">Regístrate</a></p>
      </form>
    </div>
  
